<div class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

      <div>
          <h2>Liste des stages :</h2>
      </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

      <!-- / SIDEBAR -->

      <!-- CENTER -->
      <div class="center p-24 " fusePerfectScrollbar>

          <!-- CONTENT -->
          <div class="content p-24 dis-flex">
            <div class="stageCard ">
              <stageCard></stageCard>
            </div>
            <div class="stageCard">
              <stageCard></stageCard>
            </div>
            <div class="stageCard">
              <stageCard></stageCard>
            </div>
            <div class="stageCard">
              <stageCard></stageCard>
            </div>
            <div class="stageCard">
              <stageCard></stageCard>
            </div>
          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CENTER -->

  </div>
  <!-- / CONTENT -->

</div>
