
            <div class="card">

                <!-- PREVIEW -->

                    <div class="fuse-card">

                        <img src="assets/images/cards/card2.jpg">

                        <div class="p-16">
                            <div class="h1">Job title</div>
                            <div class="h5 secondary-text">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <span>Company name</span>
                                </div>
                            </div>
                        </div>

                        <div class="px-16 line-height-1.75">
                            Description : Small plates, salads & sandwiches in an intimate setting with 12 indoor seats plus patio
                            seating.
                        </div>

                        <div class="card-divider"></div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <div class="mb-16 text-bold">Offer status</div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mr-16">access_time</mat-icon>
                                <div class="creation-Date">
                                    <span class="date">
                                       Fin d'offre : 12/05/2019
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent">Voir details</button>
                        </div>

                    </div>


            </div>
     