
            <div class="card">

                <!-- PREVIEW -->

                    <div class="fuse-card">

                        <img src="assets/images/cards/card2.jpg">

                        <div class="p-16">
                            <div class="h1">Coffee NewYork</div>
                            <div class="h5 secondary-text">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="s-16 amber-fg">star</mat-icon>
                                    <mat-icon class="s-16 amber-fg">star</mat-icon>
                                    <mat-icon class="s-16 amber-fg">star</mat-icon>
                                    <mat-icon class="s-16 amber-fg">star</mat-icon>
                                    <mat-icon class="s-16 amber-fg">star_half</mat-icon>
                                    <div class="ml-8 secondary-text">4.7</div>
                                    <div class="ml-4 secondary-text">(51)</div>
                                </div>
                            </div>
                        </div>

                        <div class="px-16 line-height-1.75">
                            Small plates, salads & sandwiches in an intimate setting with 12 indoor seats plus patio
                            seating.
                        </div>

                        <div class="card-divider"></div>

                        <div class="p-16 pt-0 line-height-1.75">
                            <div class="mb-16 text-bold">Tonight's Availability</div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mr-16">access_time</mat-icon>
                                <mat-button-toggle-group>
                                    <mat-button-toggle value="0530PM">
                                        5:30PM
                                    </mat-button-toggle>
                                    <mat-button-toggle value="0730PM" [checked]="true">
                                        7:30PM
                                    </mat-button-toggle>
                                    <mat-button-toggle value="0900PM">
                                        9:00PM
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>

                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent">RESERVE</button>
                        </div>

                    </div>


            </div>
     