<div class="page-layout simple left-sidebar inner-sidebar inner-scroll">

  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

      <div style="display: inline-block;">
       <h2>Liste des stages :</h2>
      </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

      <!-- / SIDEBAR -->

      <!-- CENTER -->
      <div class="center p-24 " fusePerfectScrollbar>

          <!-- CONTENT -->
          <div style="justify-content: flex-start!important;" class="content p-24">
            <div class="row">
              <div class="col-12">
                <h2>
                  Titre de l'offre de stage ici
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-tab-group>
                  <mat-tab label="Details societé">
                    <div class="content p-24">
                      <div class="row dis-flex p-24">
                          <img src="assets/images/avatars/Velazquez.jpg" alt="" class="avatar w-100 h-100">
                      </div>
                      <div id="details-societe">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos officiis explicabo fuga atque optio doloribus minus quos sed praesentium laudantium, repellendus nemo tempora veniam architecto ab est error reiciendis.
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Profil recherché">
                    <div class="content p-24">
                      <div id="profil-recherche">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos officiis explicabo fuga atque optio doloribus minus quos sed praesentium laudantium, repellendus nemo tempora veniam architecto ab est error reiciendis.
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Travaille demandé">
                    <div class="content p-24">
                      <div id="travaille-demandé">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos officiis explicabo fuga atque optio doloribus minus quos sed praesentium laudantium, repellendus nemo tempora veniam architecto ab est error reiciendis.
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
      
          </div>
          <!-- / CONTENT -->

      </div>
      <!-- / CENTER -->

  </div>
  <!-- / CONTENT -->

</div>
